<div class="test">
  <%= render "/company/navbar" %>
  <div class="content">
    <h1>
      Better culture better world
    </h1>
    <h2>
      +1で生活は大きく変わる
    </h2>

  </div>
</div>

<div class="content-second">
  <h1>
    会社概要
  </h1>
  <div class="table">
    <table>
      <tr>
        <td>社名</td>
        <td>株式会社Brhino</td>

      </tr>
      <tr>
        <td>所在地</td>
        <td>東京都渋谷区道玄坂新太宗ビル３号館</td>
      </tr>
      <tr>
        <td>代表取締役</td>
        <td>濱田航平・都丸ショウキ</td>
      </tr>
    </table>
  </div>
</div>

<div class="content-third">
  <h1>
    所在地
  </h1>

  <p>
    ここに所在地map
  </p>

</div>

<div class="content-forth">
  <h1>
    Our misson
  </h1>
</div>


<%= render "/company/footer" %>
